/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
/* Header */
header{
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 80px;
}

.flex-button-filter{
    display: flex;
}

nav li , .nav {
    list-style: none;
    text-decoration: none;
    color: black ;
    display: inline-block;
    padding: 10px;

}

nav a:hover{
    color:#0065FC;
    border-top: solid 2px #0065FC;
}

h2 {
    margin-BOTTOM: 0px; 
}

.search-filter > h2{
    display: inline-block;
    padding-right: 10px;
    margin: auto 10px;
}

p  {
    margin-top: 6px;
}


/*Search Bar*/
.search-bar {
      padding-bottom: 15px;
}

.research-form{
    display: flex;
    height: 40px;


}
.locate{
    background-color:#F2F2F2;
    border-color: #F2F2F2 ;
    padding: 5px 5px;
    border-radius: 5px 0px 0px 5px;
}

.locate i{
    color: black;
    margin-bottom: 40px;
    padding: 4px 10px;
    margin-right: 5px;
}

button[type="submit"]{
    background-color: #0065FC;
    border-radius: 0px 5px 5px 0px;
    border-color: #0065FC;
    color: #ffffff;
}
input[type="text"]{
    border: 1px solid #F2F2F2 ;
    text-align: center;
}
/*Filter*/
.search-filter{
    padding-bottom: 20px;
    margin-top: 10px;
    display: flex;
}

.fa-magnifying-glass{
    display: none;
}

section span{
    display: flex;
    font-weight: 700;
 }
    

.button-filters{
    border: 2px solid #F2F2F2;
    border-radius: 25px ;
    background-color: #ffffff;
    padding: 4px 19px;
    margin-right: 5px;
    height: 50px;
    font-weight: bold;
}
.button-filters i{
    padding-right: 5px;
}

.button-filters:hover{
    background-color: #deebff;
}

.info .fa-solid{
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    margin-bottom: 40px;
    padding: 4px 10px;
    margin-right: 5px;
}
/*Main*/

body {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    flex-wrap: wrap;
    display: flex;
}

.hebergements-cards{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.hebergements-cards .card{
    margin-top: 30px;
    width: 30%;
    justify-content: space-between;
    
}

.hebergements-cards img{
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-rating{
    margin-left: 10px
}

h4{
    font-size: 16px;
    margin-bottom: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards  img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards  .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title .activites.card {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Activites*/

.activites-card{
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-sizing: border-box;
}
.activites-card img{
    height: 300px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.activites-card > .card{
    padding: 0;
    border-top-left-radius: 30px;
    object-fit: cover;
}

.card-txt{
    margin: 10px;
}

a.a-card{
    width: 22%;
}


/* Footer*/    

footer {
    background-color: #f2f2f2;
    display: flex;
    margin-top: 60px;
    justify-content:space-between;
    padding-bottom: 5px;
    padding-right: 150px;
    padding-left: 10px;

}


.container-column-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.a-footer{
    text-decoration: none;
    color: black ;
    display: inline-block;
    padding: 5px;
}

/* Ajout d'un selecteur a uniquement pour les liens afin d'éviter la décoration */

.a-card{
    text-decoration: none;
    color: black;
}

.activites-section h2{
    padding-left: 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .search-filter > h2{
        margin-right: 100%;
    }

    .search-filter{
        flex-wrap: wrap;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%
    }

    .populaires-cards a.a-card{
        width: 100%;
        margin-right: 20px;
    }

    .hebergements-cards img{
        width: 98%;
    }

    .populaires-cards .card {
        width: 100%;
    
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-section{
        padding: 0;

    }

    .activites-card .a-card{
        width: 22%;
    }

    .activites-card img{
        width: 100%;
    }
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    body, .main-container{
        margin: 0;
        padding: 0;
    }

    .fa-magnifying-glass{
        color: #deebff;
        display: flex;
    }

    .activites-section{
        padding: 50px;

    }

    section span{
         display: none;
    }

    h2.section-title{
        margin-bottom: 15px;
    }
    
    header{
        margin-top: 5px;
        display: block;
        margin: auto;
        text-align: center;
        padding-top: 10px;
    }

    nav{
        justify-content: center;
        flex-direction: row;

    }

    .nav-a{
        display: flex;
        justify-content: center;
    }

    nav li, .nav{
        width: 100%;
        padding: 0;
        padding-bottom: 5px;
    }

    nav a:hover{
        color:#0065FC;
        border-bottom: solid 2px #0065FC;
        border-top: none;
    }

    nav ul{
        padding: 0;
    }

    .hebergements-and-populaires{
        flex-flow: wrap-reverse column-reverse;
        justify-content: center;
    }

    .hebergements-and-populaires section{
        border-radius:0
    }

    section#ancre-hebergements{
        background-color: #ffffff;
    }

    .populaires-cards .card {
        width: auto;
    }

    .populaires-titles h2 {
        margin-bottom: 15px;
    }

    .populaires{
        margin-bottom: 15px;
    }

    .text-header{
        text-align: center;
    }

    .research-form{
        justify-content: center;
        margin-bottom: 10px;
    }

    .flex-button-filter{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }

    .search-filter{
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: row;
    }

    .search-filter h2{
        margin-bottom: 10px;
        width: 40%;
    }

    .button-filters{
        width: 44%;
        padding: 0;
        margin-right:0;
        margin-bottom: 4%;
        margin-right: 5%;
    }

    .flex-button-filter button.button-filters:nth-child(1),
    .flex-button-filter button.button-filters:nth-child(3){
        margin-left: 2%;
    }

    .info{
        padding: 0;
        text-align:center;
    }

    .info .fa-solid {
        margin-bottom: 5px;
    }

    .populaires-cards{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
        border: 0;
        gap: 30px;
    }


    .activites-card{
        flex-direction: column;
    }

    .a-card{
        padding-bottom: 10px;
    }


    .a-card, .activites-card img{
        width: 100%;
        
    }

    .activites-card .a-card{
        width: 100%
    }

    .card{
        margin: 3px 4%;

    }

    .a-card .card{
        margin: 0;

    }

    .hebergements-cards .card{
        width: 100%;
    }
}